/* basics */

body {
     font-family: Roboto, sans-serif;
}

a
{
     cursor: pointer;
     outline: 0;
}
p
{
     padding-top: 13px;
     margin: 0;
}
ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.clear
{
     clear: both;
}
.nowrap
{
     white-space: nowrap;
}
.center
{
     text-align: center;
}
.block
{
     margin: 0 auto;
     max-width: 900px;
     padding: 0 30px;
}
.search_details {
     padding-top: 15px;
}
#search_input {
	 font: 300 14px/1 Roboto, sans-serif;
	 border: 1px solid #e3e3e3;
     display: block;
     margin: 0 auto;
     width: 250px;
     padding: 10px;
     -moz-appearance: none;
	 -webkit-appearance: none;
	 box-shadow: none;
	 outline: 0;
}
#results {
     margin-top: 10px;
     padding-top: 30px;
   	 max-width: 900px;
}
#num_results {
     font: 300 14px/1 Roboto, sans-serif;
}
.result {
     padding: 10px 0;
     border-bottom: 1px solid #666666;
     text-decoration: none;
}
.result .title {
     font-size: 30px;
     margin-bottom: 0;
     color: #666666;
     font-weight: 200;
}
.result .description {
     color: #333333;
     font-weight: 400;
}


/* fonts */


h2 {
	font: 100 30px/1.3 Roboto, sans-serif;
	color: #666;
	margin: 0;
	padding: 0;
}

.low {
	font: 300 14px/1.7 Roboto, sans-serif;
	color: #333;
}

.low a {
	color: #5396ea;
	text-decoration: none;
}

.low a:hover {
	color: #333;
}

.mow {
	font: 300 13px/1.7 Roboto, sans-serif;
	color: #777;
}


/* head */

#head {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #f3f3f3;
	height: 63px;
	background-color: #fff;
	z-index: 100;
}

.head_img {
	margin: 15px;
}

.front_img {
	max-width: 150px;
	height: auto;
}
